**/__pycache__
**/.classpath
**/.dockerignore
**/.DS_Store
**/.editorconfig
**/.env
**/.git
**/.github
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.venv
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/*.md
**/*.py#
**/*.py~
**/*.pyc
**/azds.yaml
**/bin
**/charts
**/compose*
**/csv
**/django
**/docker-compose*
**/Dockerfile*
**/docs
**/gitleaks.toml
**/img
**/justfile
**/node_modules
**/npm-debug.log
**/obj
**/poetry.lock
**/secrets.dev.yaml
**/terraform
**/values.dev.yaml
