[submodule "node"]
	path = examples/node
	url = https://github.com/pythoninthegrass/node_with_docker.git
[submodule "gatsby"]
	path = examples/gatsby
	url = https://github.com/pythoninthegrass/gatsby_docker.git
